[Unit]
Description=Gunicorn instance to serve Deepfake API
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/FakeVision-Video
Environment="PATH=/home/ubuntu/FakeVision-Video/venv/bin"
ExecStart=/home/ubuntu/FakeVision-Video/venv/bin/gunicorn --bind 0.0.0.0:5000 --timeout 600 app:app
Restart=always

[Install]
WantedBy=multi-user.target
